<div class="gwd-div-fm4h gwd-gen-dfpfgwdanimation" id="nexttrackcomponent">
  <p class="gwd-p-yq2r" id="componenttitle">next track</p>
  <p class="gwd-p-1kpr gwd-gen-unemgwdanimation gwd-p-b3oo">track name:</p>
  <p class="gwd-p-ptcm gwd-gen-6kdsgwdanimation">file type:</p>
  <p class="gwd-p-qmyc gwd-gen-rdxmgwdanimation">bitrate:</p>
  <p class="gwd-p-i9kv gwd-gen-1rjxgwdanimation">artist:</p>
  <p class="gwd-p-kzk9" id="tracknamevalue"></p>
  <p class="gwd-p-kzk9 gwd-p-18fn gwd-p-1guw" id="bitratevalue"></p>
  <p class="gwd-p-kzk9 gwd-p-19cm gwd-p-12au" id="filetypevalue"></p>
  <p class="gwd-p-kzk9 gwd-p-qlhm gwd-p-1o5g" id="artistvalue"></p>
</div>