<div class="gwd-div-fm4h gwd-gen-dfpfgwdanimation gwd-div-1sf9" id="currenttrackcomponent">
  <p class="gwd-p-yq2r" id="componenttitle_1">current track</p>
  <p class="gwd-p-1kpr gwd-gen-unemgwdanimation gwd-p-b3oo">track name:</p>
  <p class="gwd-p-ptcm gwd-gen-6kdsgwdanimation">file type:</p>
  <p class="gwd-p-qmyc gwd-gen-rdxmgwdanimation">bitrate:</p>
  <p class="gwd-p-i9kv gwd-gen-1rjxgwdanimation">artist:</p>
  <p class="gwd-p-kzk9" id="tracknamevalue_1"></p>
  <p class="gwd-p-kzk9 gwd-p-18fn gwd-p-1guw" id="bitratevalue_1"></p>
  <p class="gwd-p-kzk9 gwd-p-19cm gwd-p-12au" id="filetypevalue_1"></p>
  <p class="gwd-p-kzk9 gwd-p-qlhm gwd-p-1o5g" id="artistvalue_1"></p>
</div>