<svg id="gwd-svg-definitions">
  <defs>
    <linearGradient gradientUnits="userSpaceOnUse" data-gwd-stroke-width="1" x1="1" x2="160.5" id="grad1xz3" gradientTransform="rotate(126.04 80.75 111)">
      <stop stop-color="rgba(3,175,250,1)" offset="-1%"></stop>
      <stop stop-color="rgba(25,90,206,1)" offset="101%"></stop>
    </linearGradient>
  </defs>
</svg>
<div class="gwd-div-18uv" id="joinsessionmodal" >
  <svg data-gwd-shape="path" preserveAspectRatio="none" viewBox="0 0 161.5 222" class="gwd-path-vi3x gwd-gen-23cmgwdanimation gwd-svg-1x0i" id="joinsessiondiamond">
    <path stroke-linecap="round" stroke-linejoin="round" d="M 80.5,0.5 C 80.5,0.5 0.5,79.5 0.5,79.5 0.5,79.5 79.5,221.5 79.5,221.5 79.5,221.5 161,79.5 161,79.5 161,79.5 82,2.5 80.5,0.5"></path>
  </svg>
  <div class="gwd-div-w4kq">enter session ID</div>
  <input class="gwd-input-11tx gwd-gen-1jsogwdanimation" id="sessionidinput" [(ngModel)]="boundId">
  <button (click)="onClick()" class="gwd-button-1b52" id="joinsessionbutton">enter</button>
</div>