<div class="gwd-div-cp6x gwd-gen-r7fvgwdanimation" id="trackcomponent">
  <svg data-gwd-shape="rectangle" class="gwd-rect-1v9c"></svg>
  <p class="gwd-p-1kpr gwd-gen-unemgwdanimation">track name:</p>
  <p class="gwd-p-ptcm gwd-gen-6kdsgwdanimation">file type:</p>
  <p class="gwd-p-qmyc gwd-gen-rdxmgwdanimation">bitrate:</p>
  <p class="gwd-p-i9kv gwd-gen-1rjxgwdanimation">artist:</p>
  <div class="gwd-div-1izj" id="tracknameinput"></div>
  <div class="gwd-div-1945" id="artistinput"></div>
  <div class="gwd-div-c80n" id="filetypeinput"></div>
  <div class="gwd-div-bp62" id="bitrateinput"></div>
</div>
