<svg id="gwd-svg-definitions">
  <defs>
    <linearGradient gradientUnits="userSpaceOnUse" data-gwd-stroke-width="1" x1="1" x2="168" id="grad18a1">
      <stop stop-color="rgba(47,5,239,1)" offset="0%"></stop>
      <stop stop-color="rgba(14,111,255,1)" offset="100%"></stop>
    </linearGradient>
  </defs>
</svg>
<div class="gwd-div-18uv" id="joinsessionmodal">
  <svg data-gwd-shape="path" preserveAspectRatio="none" viewBox="0 0 169 177" class="gwd-path-1wlg gwd-svg-1hfy gwd-svg-1aty" id="joinsession">
    <path stroke-linecap="round" stroke-linejoin="round" d="M 56.863,6.483 C 56.863,6.483 168.5,0.5 168.5,0.5 168.5,0.5 167.5,109.5 167.5,109.5 167.5,109.5 0.5,176.5 0.5,176.5 0.5,176.5 56.863,6.483 56.863,6.483"></path>
  </svg>
  <div class="gwd-div-w4kq">enter session ID</div>
  <input class="gwd-input-11tx gwd-gen-1jsogwdanimation" id="sessionidinput">
  <button class="gwd-button-1b52" id="joinsessionbutton"></button>
</div>
