html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
  }
  body {
    background-color: transparent;
    transform: perspective(1400px) matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform-style: preserve-3d;
  }
  .gwd-div-cp6x {
    position: absolute;
    background-color: transparent;
    background-image: none;
    border-image-source: none;
    border-image-width: 1;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-color: rgb(0, 0, 0);
    height: 300px;
    width: 300px;
    top: 0%;
    left: 50%;
    transform: translate3d(-150px, 0px, 0px);
    transform-style: preserve-3d;
  }
  .gwd-p-1kpr {
    position: absolute;
    height: 20px;
    left: 17px;
    font-family: "Courier New";
    top: 89px;
    width: 110px;
  }
  .gwd-p-i9kv {
    position: absolute;
    height: 20px;
    top: 129px;
    left: 0%;
    font-family: "Courier New";
    width: 110px;
  }
  .gwd-p-ptcm {
    position: absolute;
    height: 20px;
    top: 169px;
    left: 0%;
    font-family: "Courier New";
    width: 110px;
  }
  .gwd-p-qmyc {
    position: absolute;
    height: 20px;
    top: 209px;
    left: 0%;
    font-family: "Courier New";
    width: 110px;
  }
  .gwd-div-1izj {
    height: 20.9896px;
    position: absolute;
    width: 171.328px;
    left: 103px;
    top: 89px;
  }
  .gwd-rect-1v9c {
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 0.989583px;
    box-sizing: border-box;
    display: block;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 300px;
    height: 300px;
  }
  .gwd-p-1whd {
    position: absolute;
    width: 74.6161px;
    height: 21.5278px;
    left: -100px;
    top: 30px;
    font-family: "Courier New";
  }
  .gwd-div-13fr {
    top: 13px;
    left: 50%;
    transform-style: preserve-3d;
    height: 20.9896px;
    width: 230px;
    transform: translate3d(-118px, 16px, 0px);
  }
  .gwd-p-b3oo {
    left: 0%;
  }
  .gwd-div-1c3z {
    left: 34%;
    top: 89px;
  }
  .gwd-div-sabk {
    left: 34%;
    top: 129px;
  }
  .gwd-div-gqb2 {
    left: 35%;
    top: 153px;
  }
  .gwd-div-me83 {
    left: 36%;
    top: 183px;
  }
  .gwd-p-12zx {
    top: 62px;
  }
  .gwd-p-kae4 {
    left: 35%;
    top: 113px;
  }
  .gwd-p-yq2r {
    height: 29.8611px;
    position: absolute;
    top: 0%;
    width: 186.111px;
    transform-style: preserve-3d;
    left: 50%;
    transform: translate3d(-93px, 15px, 0px);
    font-family: "Courier New";
    text-align: center;
    font-size: 25px;
  }
  .gwd-p-kzk9 {
    position: absolute;
    width: 190.007px;
    height: 20.0278px;
    left: 109.999px;
    top: 89.0096px;
  }
  .gwd-p-qlhm {
    left: 110px;
    top: 129px;
  }
  .gwd-p-19cm {
    left: 110px;
    top: 169px;
  }
  .gwd-p-18fn {
    left: 110px;
    top: 209px;
  }