<div class="gwd-div-cp6x gwd-gen-r7fvgwdanimation" id="trackcomponent">
  <svg data-gwd-shape="rectangle" class="gwd-rect-1v9c"></svg>
  <p class="gwd-p-1kpr gwd-gen-unemgwdanimation gwd-p-b3oo">track name:</p>
  <p class="gwd-p-ptcm gwd-gen-6kdsgwdanimation">file type:</p>
  <p class="gwd-p-qmyc gwd-gen-rdxmgwdanimation">bitrate:</p>
  <p class="gwd-p-i9kv gwd-gen-1rjxgwdanimation">artist:</p>
  <p class="gwd-p-yq2r" id="componenttitle">{{componentname}}</p>
  <p class="gwd-p-kzk9" id="tracknamevalue"></p>
  <p class="gwd-p-kzk9 gwd-p-18fn" id="bitratevalue"></p>
  <p class="gwd-p-kzk9 gwd-p-19cm" id="filetypevalue"></p>
  <p class="gwd-p-kzk9 gwd-p-qlhm" id="artistvalue"></p>
</div>